html {

         /* Propiedad - Valor */ 
         
        /* "Color" es la propiedad y "blue" el valor */
    
        size: blue;  

        background-color: yellow;

        border: red;

        font-size: 20px;


}